* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.content-all {
    width: 300px;
    margin: auto;
    perspective: 700px;
    position: relative;
    margin-top: 60px;
}

.content-carrousel {
    width: 90%;
    position: absolute;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 60%;
    height: 70px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #221ee6;
    font-weight: 200;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    /*de esta forma aqui alineamos todo lo que seria el contenedor lo cual hablamos de imagen texto etc.*/
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1 {
    font-size: 50px;
}


/*con header apartir de ahora */

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background: rgb(55, 13, 241);
    border-bottom: 1px solid transparent;
    /*importante este que hace una especie de franja en el logo primero de arriba*/
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    /*este seria la sombra de la franja*/
    position: fixed;
    /*esto mantendria fijo al logo mientras bajas la pagina*/
    transition: ease-in-out 0.5s;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 70px;
}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlace-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlace-header a {
    color: #eff8fa;
    text-decoration: none;
    margin-left: 20px;
}

.amburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /*este es para la manito que al poner sobre la imagen por ejemplo en lugar de la flecha la manito*/
    transition: color 0.5s ease-in;
}

.amburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    /*para que funcione la animacion se debe de escribir lo siguiente*/
    animation: ease-in animat 1s;
    /*seria la duracion de la animacion*/
}


/*una animacion ahora aca abajo*/

@keyframes animat {
    /*y aqui pasaria a de cero a ser uno esto trabaja sobre el tamaño de la imagen*/
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.texto-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.contenido-header a {
    /*con esto isimos el boton verde primero*/
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

.titulo {
    font-size: 50px;
}


/*about us*/

.about-us {
    background: #f2f2f2;
}

.contenedor-articulo {
    /*en la partes de los cuadrados dicvidos en seis esto ha hecho que los cuadrados se dividan uno abajo de otro.*/
    display: flex;
    flex-wrap: wrap;
    /*se trataria de esto mismo el de los cuadros divididos*/
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5S;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    /*aqui trabajamos con los iconos verdes redondos*/
    font-size: 30px;
    color: #fff;
    background: #1fde82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 08px 32px rgba(31, 222, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100px;
    color: #5d666678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}

.artulo>a:hover {
    color: #1fde82;
    transition: color .5s;
}


/*questions*/

.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    width: 550px;
}

.texto-questions {
    margin: 0 0 0 30px;
}

.texto-questions p {
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
}

.texto-questions a {
    /*con esto isimos el boton verde primero*/
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}


/*results*/

.results {
    background: #2570ff;
    padding-top: 30px;
}

.conten-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.numbers .number h4 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .numberp {
    color: #f2f5fc;
    font-weight: 300;
}

.results-text {
    width: 37%;
}

.results-text h4 {
    color: #fff;
    font-size: 40px;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}

.results-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}


/*servises*/

.services {
    display: flex;
    /*abajo aqui codigo para poner uno a lado del otro*/
    justify-content: space-between;
}

.services>img {
    width: 500px;
}

.box-kills {
    margin: 30px 30px 0 0;
}

.box-kills h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-kills i {
    color: #1fde82;
    font-size: 20px;
}


/*footer*/

footer {
    background: #390ef7;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #eef3fd;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    /*aqui hacemos una especie de animacion a la letra que cuando se pone la flecha sobre ella cambie de color*/
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover {
    /*esto seria el color de las letras animadas */
    color: #1fde82;
}

.partFooter img {
    width: 65%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background: #1fde82;
    border-color: #1fde82;
}


/*breakpoint responsive*/

@media screen and (max-width: 800px) {
    .titulo {
        font-size: 45px;
    }
    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }
    .content-carrousel {
        width: 80%;
        height: 60%;
    }
    .contenido-header>img {
        width: 400px;
    }
    .texto-header {
        margin: o;
    }
    /*abaut-a*/
    .articulo {
        width: 45%;
    }
    /*questions*/
    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .questions>img {
        width: 400px;
    }
    /*results*/
    .conten-results {
        flex-direction: column-reverse;
    }
    .results-text>a {
        margin-bottom: 60px;
    }
    .numbers {
        width: 100%;
        justify-content: space-between;
    }
    .results-text {
        width: 100%;
    }
    /*services*/
    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-kills {
        margin: 0 0 40px 0;
    }
    .box-kills h4 {
        width: 500px;
    }
    .services>img {
        width: 400px;
    }
    /*footer*/
    footer {
        justify-content: space-evenly;
    }
    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }
    .h1 {
        font-size: 40px;
    }
    .contenido-header {
        height: 650px;
    }
    .nav {
        padding: 0 10px;
    }
    .contenido-header>img {
        width: 200px;
    }
    .content-carrousel {
        width: 70%;
        height: 50%;
    }
    .enlace-header {
        position: fixed;
        background: #a8ff78;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #78ffd6, #a8ff78);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0%);
    }
    .nav .menudos {
        -webkit-clip-path: circle(150.8% at 100% 0%);
        clip-path: circle(150.8% at 100% 0%);
    }
    .nav .enlace-header a {
        color: black;
    }
    .amburguer {
        display: block;
    }
    /*abaut us*/
    .articulo {
        width: 90%;
    }
    /*questions*/
    .questions>img {
        width: 200px;
    }
    /*results*/
    .numbers .number {
        width: 100%;
    }
    .results-text h4 {
        font-size: 35px;
    }
    .services>img {
        width: 200px;
    }
    .box-kills h4 {
        width: 100%;
        padding: 0 3px;
    }
    /*footer*/
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}